.Checkout {
    padding-left: 1pc;
    text-align: left;
}

h1{
    padding-left: 1pc;
    font-size: xx-large;
}

.price{
    text-align: right;
    padding-right: 3%;
    padding-left: 75%;
    color: gray;
}

.priceLabel{
    text-align: right;
    color: gray;
    padding-right: 3%;
    padding-left: 75%;
}

.container {
    display:inline-flex;
    /*flex-direction: row;  */
    justify-content: center;
    font-size:xx-large;
    align-items: center;
    width: 100%
    

  }


  .header {
    display:inline-flex;
    /*flex-direction: row;  */
    /* justify-content: center; */
    /* /*font-size:xx-large; */
    align-items: center;
    width: 100%
  }

.return {
    text-decoration: none;
}

  .cont2 {
    display: inline-block;
    justify-content: center;
    flex-direction: row; 
    justify-content: start;
    padding-left: 4%;
  }
  .cont3 {
    display: inline-block;
    justify-content: center;
    flex-direction: row; 
    justify-content: start;
    padding-left: 4%;
    padding-right: 3%;
  }

.listItem{
    text-align: center;
    padding: 70px 0
}

h2{
    padding-left: 1pc;
    
}

.deselect{
    padding-left: 1pc;
    color: teal;
}

h5{
    font-size:medium;
}

.qty{
    display:inline-flex;
    /* flex-direction: row;  */
    /* justify-content: center; */
    /* /*font-size:xx-large; */
    align-items: center;
    width: 100%

}
.delete{
    font-size: medium;
    padding-left: 4%;
    padding-right: 2%;
    color: rgb(11, 118, 150)
}
.saveForLater{
    font-size: medium;
    color: rgb(11, 118, 150);
    padding-left: 2%;
    padding-right: 2%;
}
.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid grey;
}


.selectList{
text-decoration: none;
align-items: center;
background-color: rgb(252, 252, 252);
border: 100;
border-radius: 10px;
box-sizing: border-box;
color:black;
cursor: pointer;
display: inline-flex;
font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
justify-content: center;
line-height: 20px;
max-width: 480px;
min-height: 40px;
min-width: 0px;
overflow: hidden;
padding: 0px;
padding-left: 10px;
padding-right: 10px;
text-align: center;
touch-action: manipulation;
transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
}