.ShoppingCart {
  text-align:left; 
  border:3px solid lightgray;
  border-radius: 20px;
  position: fixed;
  float: left;
  margin: 0px;
  width: 50%;
  padding-left: 1%;
}

.ReturnPolicy{
    color:teal
}

.AddToCart {
  align-items: center;
  background-color: rgb(255, 213, 0);
  border: 100;
  border-radius: 75px;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 65px;
  padding-right: 65px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.BuyNow {
text-decoration: none;
align-items: center;
background-color: rgb(255, 213, 0);
border: 100;
border-radius: 75px;
box-sizing: border-box;
color:black;
cursor: pointer;
display: inline-flex;
font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
justify-content: center;
line-height: 20px;
max-width: 480px;
min-height: 30px;
min-width: 0px;
overflow: hidden;
padding: 0px;
padding-left: 70px;
padding-right: 70px;
text-align: center;
touch-action: manipulation;
transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
}